body {
    margin: 0;
    /* background-color: #D6ED17FF; */
}

/* Red (#F65058FF), Yellow (#FBDE44FF) and Navy (#28334AFF) */


ul.topnav {
     width: 100%;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     border-bottom: 3px solid #FBDE44FF;
}

img.avtar{
    border: 3px solid #FBDE44FF;
    margin-left: 10px;
    position: absolute;
    height: 70px;
    /* width: 80px; */
    border-radius: 50%;
}

ul.topnav li {
    float: right;
}

ul.topnav li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li.header {
    font-size: 25px;
    float: left;
    color: white;
    margin: 10px 100px;
}

@media screen and (max-width: 479px) {
    ul.topnav li, 
    ul.topnav li {
        float: none;
    }
    .home{
        flex-direction: column;
        height: 576px;
    }
    .left, .right{
        width: 100%;
    }

    .right video{
        width: 400px;
        height: 500px;
    }

    .left h1{
        font-size: 65px;
    }
}

.home{
    background-color: #D6ED17;
    height: 576px;
    display: flex;
    margin-bottom: -30px;
}

.left{
    padding-left: 5px;
    width: 60%;
    color: #606060FF;
}

.name{
    color:#606060FF;
    font-size: 95px;
    margin-top: 165px;
}

.left p{
    color: red;
    font-family: 'Langar', cursive;
    font-size: xx-large;
}

.right{
    width: 40%;
}

.right video{
    margin-left: auto;
    height: 575px;
    /* width: 100%; */
}

.about{
    background-color: #343148FF;
    color: #D7C49EFF;
    font-size: xx-large;
}






